mixin displayTrack(track, idx)
  li
    //- span.number= idx + 1
    //- | &nbsp;
    span.title= track.title
    | &nbsp;par&nbsp;
    span.artists= track.artists
    | &nbsp;
    span.length= moment.utc(track.length).format('mm:ss')

.albuminfo
  h3.title= title

ol.tracks
  each track, idx in tracks
    +displayTrack(track, idx)
