.search
  i.fa.fa-plus
.tools &nbsp;

ul.selectlibrary
  li.selected(type="radio", name="optionslibrary", data-value="videostreams")
    .illumination P
    | Programmes visionnés
  li(type="radio", name="optionslibrary", data-value="movies")
    .illumination F
    | Films
  li(type="radio", name="optionslibrary", data-value="tvseries")
    .illumination S
    | Séries

.howitworks
  .illumination
    i.fa.fa-info-circle
  | Comment ça marche ?

.codesign
  .code= appName
button.toggle
