mixin displayMessage(id, m)
  li(class=m.type)
    span.display= m.label
    span.close(data-messageid=id) &nbsp;

if (messages.length != 0)
  ul
    each message, id in messages
      +displayMessage(id, message)
