.moviedetails
  img.poster(src=posterUri)
  .movieabout
    h2=label

    if !id
      button#save Ajouter à la bibliothèque
    else
      button.delete Supprimer de la bibliothèque

    .characteristics
      b
        if genre
          = genre.label
          |&ensp;|&ensp;
        if publicationDate
          =publicationDate.slice(0, 4)
          |&ensp;|&ensp;
        if countryOfOrigin
          =countryOfOrigin.label
          |&ensp;|&ensp;
        if duration
          | durée :&#x0020;
          =duration
          | min
          |&ensp;|&ensp;
        //- VM HD ... ?
        if director
          | Réalisé par&nbsp;
          = director.label

      if viewed
        | — Vu le&nbsp;
        - var last = viewed[viewed.length - 1].timestamp
        = moment(last).format('DD/MM/YYYY')

    .synopsis!= synopsis

hr
.soundtracks
  h3 Musique associée
  ul
  //- .player

.close
