h2= title
p
  | Voici les programmes que vous avez visionnés ou commandés via votre Livebox. Chaque item détaille une action relative au visionnage (achat, lancement initial ou après reprise, etc.), ce qui peut faire apparaître des doublons. Pour chacun, l'application&ensp;
  i La musique de mes films&ensp;
  | a essayé de retrouver la fiche et la musique, et les a ajoutés automatiquement à votre bibliothèque de films ou de séries. Si l'algorithme s'est trompé ou n'a pas abouti, vous pouvez rechercher le film ou la série manuellement (cliquez sur le "+" à gauche ).
ul
