* {
  box-sizing: border-box;  
}

.close {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.close:before {
  content: '❌';
}

body {
  background: white;
  font-family: helvetica, arial;
  margin: 0px;
  /*height: 100%;*/
}

.splash {
  width: 100vw;
  height: 100vh;
  background: #8073B1;
}

.splash img {
  position: absolute;
  height: 100%; 
  right: 0;
  bottom: 0;
}

.splash h1  {
  position: absolute;
  top: 10%;
  left: 5%;
  margin-right: 5%;
}

[role="application"] {
  width: 100vw;
  height: 100vh;
  /*! position: relative; */

  display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
}

.message {
  display: block;
  position: fixed;
  width: 100vw;
  /*background: rgb(80, 190, 135);*/
}

.message .close {
  position: unset;
  margin-left: 10px;
}

.message ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

.message li {
  padding: 5px;  
  color: white;
  background: rgb(75, 180, 230);  
  text-align: center;
}

.message li.error {
  background: rgb(145, 100, 205);  
  color: black;
  /*color: rgb(255,102,0);*/
  font-weight: bold;
}


.drawer {
  background-color: black;
  position: relative;
}

.drawer[aria-expanded=false] {
  /*! flex-basis: 34px; */
  /*! flex-grow: 0; */
  width: 34px;
}

.drawer[aria-expanded=true] {
  flex-basis: 16.25rem;
}

.drawer button.toggle {
  position: absolute;
  bottom: 0px;
  left:0px;

  box-sizing: border-box;
  color: white;
  background: black;
  border: none;
  border-top: solid 1px #666666;
  width: calc(100% - 14px);
  margin: 7px;
  font-size: 16px;
  text-align: right;
}
.drawer .tools {
  position: absolute;
  top: 42px;
  height: calc( 100% - 67);
  width: 100%;
}

.drawer[aria-expanded=false] button:before {
  content: "▶"; 
}
.drawer[aria-expanded=true] button:before {
  content: "◀";
}

.drawer .search {
  box-sizing: border-box;
  border-right: solid 1px #999999;
  width: 100%;
  overflow-x: hidden;
  /*! overflow-y:  visible; */
  
  /*! min-height: 42px; */
  background: white !important;
  padding-left: 34px;
  /*! z-index: 1000; */
}

.drawer .search:before {
  content: '➕';
  font-size: 30px;
  line-height: 42px;
  position: absolute;
  left:6px;
  color: black;

}


.drawer .search input {
  height: 42px;
  /*! line-height; */ 42px;
  border: none;
  font-size: 16px;
  background: white !important;
}

.drawer .search .tt-menu {
  position: unset !important;
  
}

.drawer .search pre {
  display: none;
}

.drawer .search .tt-suggestion.tt-selectable {
  line-height: 42px;
}


.container {
  flex: 1;
  height: 100%;
  width:100%;
}

nav {
  height: 44px;
  background: #333333;
  width: 100%;
  position: relative;
}

nav button {
  position: absolute;
  left: 12px;
  top: 16px;
  background: url('../img/icon_menu.svg');
  border: none;
  width: 15px;
  height: 12px;
  padding: 0px;
  cursor: pointer;
}

nav h1 {
  margin: 0;
  color: white;
  font-size: 16px;
  position: absolute;
  height: 44px;
  line-height: 44px;
  left: 60px;
  /*font-weight: normal;*/
}

main {
  height:100%;
  overflow-x: hidden;
  overflow-y: auto;
  margin-left: 30px;
}

ul.movielibrary {
  padding: 0px;
  list-style: none;
}

ul.movielibrary li {
  display: inline-block;
  padding: 10px;
}

ul.movielibrary .movieitem {
  width: 134px;
  height: 200px;
  text-align: center;
  line-height: 100%;
}

ul.movielibrary .movieitem img {
  vertical-align: middle;
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
}

.searchresults {
  position: relative;  
}

.searchresults h2 {
  margin-top: 0;
  padding: 10px 10px 0;
}

.details {
  /*flex-basis: 660px;*/
  height: auto;
  background: black;

  color: white;
  font-size: 15px;
  box-sizing: border-box;
  overflow: auto;
  position: relative;
}

.details > div {
  padding: 30px;
  width: 660px;
}

.details .poster {
  height: 260px;
  float: left;
}

.details .movieabout h2 {
  margin-top: 0px;
  font-size: 21px;
}

.details .movieabout {
  height: 260px;
  padding-left:30px;
  overflow: hidden;  
}


.details .movieabout .characteristics {
  margin: 20px 0px;
}

.details hr {
  margin: 20px 0;
  position: relative;
  padding: 0;
  border: none;
  border-top: 1px solid white;
}

.details hr:before { 
  content:"";
  position: absolute;
  left: 50%;
  padding-left: -5px;
  top: 0px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-top: 10px solid white;
  border-right: 10px solid transparent;
}

.details hr:after { 
  content:"";
  position: absolute;
  left:50%;
  padding-left: -5px;
  top: -2px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-top: 10px solid black;
  border-right: 10px solid transparent;
}

.details .player iframe {
  width: 100%;
}

@media(min-width: 1201px) {
  nav {
    display: none;
  }
}

@media(max-width: 1200px) and (min-width: 992px) {
  nav {
    display: none;
  }
}
@media(max-width: 991px) and (min-width: 768px) {
  nav {
    display: none;
  }
  .details {
    position: absolute;
    top: 0px;
    left:0px;
  }
  .details > div {
    width: 100vw;
    height: 100wh;
  }
}
@media(max-width: 767px) {
  .drawer[aria-expanded=false] {
    display: none;
  }

  .drawer[aria-expanded=true] {
    flex-basis: 80%;
  }
  
  main {
    margin-left:0px;
    height: calc(100% - 44px);
  }
  
  .details {
    position: absolute;
    top: 0px;
    left:0px;
    font-size: 13px;
  }
  
  .details > div {
    width: 100vw;
    height: 100wh;
  }
  
  .details .poster {
    float: none;
    margin-bottom: 20px;
  }
  
  .details .movieabout {
    padding: 0;
  }
  
  .details .movieabout h2 {
    font-size: 16px;
  }
}


