.library {
  width: 60%;
  display: inline-block;
}

.library ul.movielibrary {
  padding: 20px;
  list-style: none;
}

.library ul li {
  display: inline-block;
}

.library .movieitem {
  /*float: left;*/
  padding: 10px;
  width: 200px;
}

.details {
  width: 39%;
  display: inline-block;
}
